#category-creation-modal {
    padding: 10px;
    border: 3px solid black;
    background: linear-gradient(#ffffff, #c2c2c2);
    box-shadow: 0px 6px 0px #000000;
    max-width: 85%;
    width: 500px;
    border-radius: 10px;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    gap: 15px;
    font-family: var(--primary-font-family);
    font-weight: normal;
    text-align: center;
    font-size: 24px;
}

#category-creation-modal h3 {
    margin-top: 0;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    color: black;
}

#category-creation-modal textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1em;
    font-family: var(--primary-font-family, sans-serif);
    background-color: #ffffff;
    resize: none;
}

#category-creation-modal textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px #000;
}

#category-creation-modal label {
    display: block;
    font-size: 25px;
    margin-bottom: 8px;
    text-align: center;
    color: black;
}

.category-creation-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}